<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'cabecalho.html' %}
    <title>Robust Optimizer</title>
</head>

<body id="page-top">
    {% include 'navibar.html' %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">O acesso a essa funcionalidade não foi autorizado!</div>
            <div class="masthead-heading text-uppercase">Acesso Negado</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="index">Voltar para o início</a>
        </div>
    </header>

    {% include 'rodape.html' %}
</body>

</html>