        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"  style="background-image: url('../static/assets/img/navibar-bg.jpg');">
            <div class="container">
                <a class="navbar-brand" href="index#page-top"><img src="../static/assets/img/navbar-logo.svg" alt="..." title="Multi-objective Robust System for Building Composite Indicators" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="listaotimizacoes.html">Optimizations</a></li>
                        <li class="nav-item"><a class="nav-link" href="index#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="index#contact">Contact</a></li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ session.name }}</span>
                                <img class="img-profile rounded-circle" width="40" height="40" src="{{ session.picture }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logoff"> <!-- data-toggle="modal" data-target="#logoutModal">-->
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--
                <div id="g_id_onload"
                    data-client_id="1033542820153-22rb3s96ng33vekqqa6sa7nbfchqqvbr.apps.googleusercontent.com"
                    data-context="signin"
                    data-callback="handleCredentialResponse"
                    data-auto_select="false"
                    data-itp_support="true">
                </div>
                -->
            </div>
        </nav>
